body{
    background-color: blue ;
}

main{
    border: 5px solid red;
    position: relative;
    width: 700px;
    height: 700px;
}
.elemento{
    width: 150px;
    height: 150px;
    background-color: aqua;
    position: absolute;
    right: 0;
    bottom: 0;
}

.elemento2{
    width: 150px;
    height: 150px;
    background-color: purple;
    position: absolute;
    top: 0;
    left: 0;
}

.elemento3{
    width: 150px;
    height: 150px;
    background-color: orange;
    position: absolute;
    right: 0;
    top : 0;
}

.elemento4{
    width: 150px;
    height: 150px;
    background-color: rgb(114, 11, 46);
    position: absolute;
    bottom: 0;
    left : 0;
}

.wasap{
    position: fixed;
    background-color: greenyellow;
    border-radius: 15px;
    color: white;
    bottom: 0;
    right:0 ;
    margin: 20px;
    width: 200px;
    height: 50px;
}

.messenger{
    position: fixed;
    background-color:lightblue;
    border-radius: 15px;
    color: white;
    bottom: 0;
    left:0 ;
    margin: 20px;
    width: 200px;
    height: 50px;
}